.App {
  text-align: center;
}

a {
  text-decoration: none;
}
.list {
  list-style-type: none;
}

.btn {
  background-color: #0af1d3;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.contact-box {
  display: flex;
  flex-direction: column;
}
.add-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}
