/* .card-container {
  display: grid;
  grid-template-rows: repeat(3, 33.3%);
  grid-template-columns: repeat(3, 33.3%);
  padding: 50px 0% 0% 0%;
}

.card-container:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 15px 0px;
} */
